@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Archivo:400i');

$archivo: 'Archivo', sans-serif;
$montserat: 'Montserrat', sans-serif;
$size-p: 16px;
$line: 22px;
$yellow: #fed136;
$grey: #f7f7f7;
$grey2: #f1f1f1;
$footer: #222222;

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: $montserat;
}

.container {
  width: 100%;
  max-width: 1135px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}

.row {
    &:before,
    &:after {
      content: ' ';
      display: table;
    }
  
    &:after {
      clear: both;
    }
}

.logo {
    text-align: center;

    img {
        padding: 61px 20px;
    }
}

/* elements for grid */

[class*="col-"] {
  float: left;
  min-height: 1px;
  text-align: center;
}

@media (min-width: 970px) {

    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
}

@media (max-width: 969px) {

    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .disabled {
        display: none;
    }
}

@media (max-width: 768px) {

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .disabled {
        display: none;
    }
}

@mixin a-style($color) {
  color: $color;
  text-decoration: none;
}

@mixin clear-mp {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

@mixin button-style($back-color, $color) {
  background-color: $back-color;
  color: $color;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: $size-p;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 1s;

  &:hover {
    background-color: $color;
    border: 2px solid $back-color;
    color: $back-color;
  }
}

@mixin circle-style($color) {
    border: 3px solid $color;
    border-radius: 50%;
}