.navigation {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 0 20px 10px;

    img {
        float: left;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .navigation-list {
        float: right;
        list-style-type: none;
        @include clear-mp;
    }

    .navigation-list-item {
        padding-top: 25px;
        display: inline-block;
    }

    a {
        font-size: $size-p;
        display: block;
        padding: 0 10px;
        @include a-style(white);

        &:hover {
            color: $button-color;
        }
    }

    .button-hamburger {
        background-color: $form-color;
        border: none;
        border-radius: 5px;
        height: 35px;
        width: 35px;
        cursor: pointer;
        display: none;
        position: absolute;
        top: 15px;
        right: 15px;

        span {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px 5px 5px -1px;
            background-color: white;

            &:first-child {
                margin-top: 3px;
            }
        }
    }
}

@media (max-width: 688px) {
    .navigation {
        text-align: center;
        padding: 0;
        
        img {
            float: none;
        }

        .navigation-list {
            display: none;
            float: none;
            padding: 10px 0 20px;
            margin-top: 10px;
            background-color: $footer;
        }

        .navigation-list-item {
            padding: 10px 0 10px;
            display: block;
            width: 100%;
        }

        .button-hamburger {
            display: block;
        }
    }
}