.portfolio {
    background-color: $background-primary-color;

    .row {
        padding-bottom: 49px;
    }

    .portfolio-card {
        margin: 0 auto;
        width: 291px;
        height: 394px;
        background-color: white;

        h2 {
            @include clear-mp;
            padding-top: 20px;
            padding-bottom: 7px;
            font-size: 18px;
        }

        p {
            @include clear-mp;
            font-family: $archivo;
        }
    }
}

@media (max-width: 969px) {
    .portfolio {
        [class*=col-] {
            padding-bottom: 50px;
        }

        .row {
            padding-bottom: 0;
        }
    }
}